<div class="breadcrumb">
  <h1>System Settings</h1>
  <ul>
    <li>
      <a routerLink="/product" routerLinkActive="router-link-active">Setting</a>
    </li>
    <li>System Settings</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-12">
        <div class="card-header">System Settings</div>
      <div class="card-body">
        <form>
          <div class="row">
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Default Currency</label>
                <select class="form-control">
                  <option>US Dollar</option>
                  <option>Euro</option>
                </select>
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">Default Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter your last name"
                />
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="lastName">Change Logo</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="lastName"
                  placeholder="Enter your last name"
                />
              </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="firstName">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Enter your first name"
                />
              </div>

              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Company Phone</label>
                <input type="number" class="form-control" id="firstName" />
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Developed By</label>
                <input type="number" class="form-control" id="firstName" />
              </div>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <div class="col-md-4 form-group mb-3">
                <label for="firstName">footer</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Enter your first name"
                />
              </div>

              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Default Customer</label>
                <select class="form-control">
                  <option>Walk in</option>
                  <option>Euro</option>
                </select>
              </div>
              <div class="col-md-4 form-group mb-3">
                <label for="picker1">Default Warehouse</label>
                <select class="form-control">
                  <option>Warehouse 1</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">Smtp Configuration</div>
        <div class="card-body">
          <form>
            <div class="row">
              <div style="display: flex; flex-direction: row; width: 100%">
                <div class="col-md-4 form-group mb-3">
                  <label for="lastName">Host</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder="Enter your last name"
                  />
                </div>
                <div class="col-md-4 form-group mb-3">
                    <label for="lastName">Host</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      placeholder="Enter your last name"
                    />
                  </div>
                  <div class="col-md-4 form-group mb-3">
                    <label for="lastName">UserName</label>
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      placeholder="Enter your last name"
                    />
                  </div>
      
              </div>
              <div style="display: flex; flex-direction: row; width: 100%">
                <div class="col-md-4 form-group mb-3">
                  <label for="firstName">Passoword</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder="Enter your first name"
                  />
                </div>
  
                <div class="col-md-4 form-group mb-3">
                  <label for="picker1">Encryption</label>
                  <input type="text" class="form-control" id="firstName" />
                </div>
                
              </div>
              <button type="button" class="btn btn-primary ml-3">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card mt-4" style="padding: 20px;">
        <div class="card-header">Clear Cache</div>
        <button style="width:10%" type="button" class="btn btn-primary mt-3">Clear Cache</button>
      </div>
  </div>
</div>
